<h1>Inicio de un blog LGBT+</h1>
<p>Bienvenido a mi espacio creado especialmente para tratar temas sobre las personas pertenecientes a la comunidad LGBT+ y los temas que la rodean.</p>

<p>En este blog se comentarán distintos tópicos como:</p>
<ul>
  <li><strong>Activismo</strong>. Formas de promoverlo, seguirlo y hacerlo.</li>
  <li><strong>Prejuicios</strong>. Discutir y analizar los prejuicios que rodean a la comunidad.</li>
  <li><strong>Información</strong>. Dar información útil sobre sexualidad, IITS, derechos, etc.</li>
</ul>
